<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjrb.daily.mediaselector" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application>


        <provider
            android:name=".provider.MediaFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.MediaSelectActivity"
            android:screenOrientation="portrait"
            >


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/data_scheme"
                    android:host="@string/data_host"
                    android:path="/MediaSelectActivity"
                    />
            </intent-filter>
        </activity>
    </application>
</manifest>
